.list_wrapper {
    padding: 24px 48px;
    min-width: 680px;
    border-radius: 16px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.flex_wrap {
    display: flex;
    gap: 8px;
    text-align: center;
    cursor: initial;
    width: 100%;
}

.list_title {
    padding: 16px 24px;
    font-weight: 500;
    color: #1C1C1C;
}

.board_list {
    border: 1px solid #F2F2F2;
    border-radius: 8px;
    padding: 12px 24px;
    font-size: 0.875rem;
    margin-bottom: 12px;
    position: relative;
}


.list_date {
    max-width: 100px;
    width: 100%;
    font-weight: 300;
    color: #919191;
}

.list_description {
    max-width: 100px;
    width: 100%;
    font-weight: 700;
}

.total_history {
    flex: 1;
    font-weight: 500;
}

.list_history {
    max-width: 100px;
    width: 100%;
    font-weight: 500;
}

.charge_history {
    max-width: 100px;
    width: 100%;
    font-weight: 500;
    color: #2974E5;
}

.buy_history {
    max-width: 100px;
    width: 100%;
    font-weight: 500;
    color: #F66A6A;
}

.list_paymentId {
    flex: 1;
    font-weight: 500;
    color: #1C1C1C;
    text-align: left;
    /* 말줄임 */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.list_balance {
    max-width: 100px;
    width: 100%;
    font-weight: 500;
}

.buy_product {
    flex: 1;
    font-weight: 500;
    text-align: left;
}

.sell_product {
    flex: 1;
    font-weight: 500;
    text-align: left;
}

.list_seller {
    max-width: 100px;
    width: 100%;
    font-weight: 300;
    color: #333333;
}

/* 모바일 */
@media (max-width:768px) {


    .list_wrapper {
        min-width: auto;
        padding: 16px;
    }

    .list_title {
        padding: 4px 8px;
    }

    .board_list {
        padding: 8px;
    }

    .list_description {
        width: 10%;
    }

    .list_date {
        width: 20%;
    }


    .list_balance {
        /* width: 22%; */
        width: 25%;
    }

    .charge_history,
    .buy_history {
        /* width: 20%; */
        width: 25%;
    }

    .sell_product,
    .buy_product {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}