.search_wrapper {
    display: flex;
    gap: 16px;
}

.input_wrapper {
    background-color: #F2F2F2;
    width: 356px;
    border-radius: 8px;
    padding: 12px;
    display: flex;
    gap: 8px;
}

.input_wrapper img {
    width: 24px;
    height: 24px;
}

.input_search {
    width: 100%;
    background-color: transparent;
}

.input_search::placeholder {
    color: #919191;
}

.btn_search {
    background-color: black;
    width: 64px;
    border-radius: 8px;
    padding: 12px 16px;
    color: white;
    font-weight: 600;
    font-size: 1.125rem;
}

/* 인풋 클릭 시 테두리 없애기 */
.input_search:focus {
    outline: none;
}

.dateSearchNew_wrapper {
    display: flex;
    justify-content: space-between;
    height: 48px;
    margin-block: 24px;
}



.dateSearch_wrapper {
    display: flex;
    gap: 16px;
}

.newBtn {
    display: flex;
    padding: 0.75rem 1rem;
    border-radius: 8px;
    width: 162px;
    gap: 8px;
    background-color: #2974E5;
    color: white;
}

.newTravelBtn {
    display: flex;
    padding: 0.75rem 1rem;
    border-radius: 8px;
    width: 178px;
    gap: 8px;
    background-color: #2974E5;
    color: white;
    justify-content: center;
    font-weight: 600;
}

.newBtn p {
    font-weight: 600;
    font-size: 1.125rem;
}

.newBtn_img {
    width: 24px;
    height: 24px;
}

@media (max-width:1024px) {
    .dateSearchNew_wrapper {
        flex-direction: column-reverse;
        gap: 1rem;
        height: auto;
        align-items: flex-end;
    }

    .dateSearch_wrapper {
        width: 100%;
        height: 48px;
    }

    .rangePicker {
        flex: 1;
    }

    .search_wrapper {
        flex: 2;
    }

    .input_wrapper {
        flex: 1;
    }

}

/* 모바일 */
@media (max-width:768px) {

    .newBtn,
    .newTravelBtn {
        position: fixed;
        bottom: 130px;
        right: 20px;
        z-index: 1;
        width: 44px;
        height: 44px;
        border-radius: 50%;
        box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .newBtn p,
    .newTravelBtn p {
        display: none;
    }

    .newBtn_img {
        width: 20px;
        height: 18px;
    }

    .dateSearchNew_wrapper {
        margin-block: 1rem;

    }

    .dateSearch_wrapper {
        flex-direction: column;
        height: 100%;
    }

    .search_wrapper {
        flex-direction: column;
    }

    .input_wrapper {
        width: 100%;
        max-height: 40px;
    }

    /* :where(.css-dev-only-do-not-override-198drv2) */
    /* padding: 4px 11px; */
    .dateSearch_wrapper :global(.ant-picker) {
        padding: 0 11px;
        max-height: 40px;
    }

    .dateSearch_wrapper :global(.ant-picker-input > input) {
        height: 40px;
    }

    .input_wrapper {
        padding: 0 12px;
        align-items: center;
    }

    .input_search {
        height: 40px;
    }

    .input_search::placeholder {
        font-size: 14px;
    }

    .btn_search {
        width: 100%;
        padding: 0 16px;
        height: 40px;
        font-size: 14px;
    }

    /* 팝업 전체 컨테이너 */
    .popup :global(.ant-picker-panels) {
        flex-direction: column;
        width: calc(100vw - 40px);
    }

    /* 두 번째 달력 패널을 숨김 */
    .popup :global(.ant-picker-panel:nth-child(2)) {
        display: none;
    }
}