/* 폰트 */
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}



.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.title {
    padding-block: 40px;
    font-weight: 700;
    font-size: 20px;

}

.input_wrapper {
    padding-block: 40px;
    border-top: 1px solid#E4E4E4;
    border-bottom: 1px solid#E4E4E4;
    width: 100%;
}

.input_wrapper p {
    margin-bottom: 8px;
    margin-right: 4px;
}

.input_wrapper span {
    color: red;

}

.input_wrapperInput,
.input_wrapperTextarea {
    padding: 12px 16px;
    border-radius: 8px;
    border: 1px solid #D4D3D3;
    width: 100%;
}



.input_wrapperTextarea {
    height: 336px;
}

.pic_wrapper {
    border-bottom: 0;
}

.name_wrapper {
    border-top: 0;
    display: flex;
    gap: 40px;
    padding-top: 0;
}

.name_wrapper>div {
    width: 50%;
}



.pic_wrapper p {
    font-weight: 500;

}

.pic_wrapper input {
    margin-top: 8px;
}

.input_wrapperInput::placeholder,
.input_wrapperTextarea::placeholder {
    color: #ABABAB;
}

.address_wrapper .sec_input {
    margin-block: 8px;
}

.address_flex {
    display: flex;

}

.address_flex input {
    width: 82px;
}

.address_flex button {
    width: 130px;
    border: 1px solid black;
    background-color: white;
    color: black;
    font-weight: 600;
    font-size: 18px;
    border-radius: 8px;
    margin-left: 8px;
}



.img_wrapper {
    display: flex;
    gap: 16px;
}

.btn_wrapper {
    display: flex;
    justify-content: end;

    padding-bottom: 40px;
}

.btn_inner {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.btn_wrapper button {
    border-radius: 8px;
    height: 48px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}

.cancel {
    width: 64px;
    border: 1px solid black;
    background-color: white;
}

.btn_wrapper button.submitActive {
    width: 95px;
    border: 0;
    background-color: #2974E5;
    color: white;

}

.btn_wrapper button.submitNotActive {
    width: 95px;
    border: 0;
    background-color: #C7C7C7;
    color: #E4E4E4;

}

.errorTxt {
    color: #F66A6A;
    font-weight: 500;
    margin-top: 8px;
}