.container {
    max-width: 1280px;
    margin: 0 auto;
    margin-block: 40px;
}

.swiper_wrapper {
    position: relative;
}

.leftBtn,
.rightBtn {
    width: 40px;
    height: 40px;
}

.leftBtn {
    position: absolute;
    top: 50%;
    left: 0;
}

.rightBtn {
    position: absolute;
    top: 50%;
    right: 0;
}

.swiper_slide {
    width: 628px;
    height: 628px;
}

.advertiseBannerImg {
    display: block;
    width: 100%;
    height: 240px;
    /* position: relative; */
    margin-block: 64px;

}

.bannerImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.productsWrapper {
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(296px, 1fr)); */
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;
}

.product {
    display: flex;
    flex-direction: column;
    gap: 12px;
    text-align: left;
}

.img_wrapper {
    position: relative;
}

.objectFit_img {
    object-fit: cover;
}

.productThumbnail_img {
    width: 296px;
    height: 296px;
}

.product_thumbnail {
    position: relative;
    border-radius: 16px;
    overflow: hidden;
}

.bookmark {
    position: absolute;
    top: 16px;
    right: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    background-color: #00000040;
    font-size: 14px;
    font-weight: 500;
    /* width: 53px;
    height: 32px; */
    padding: 4px 8px;
    border-radius: 8px;
}

.bookmark_img {
    width: 24px;
    height: 24px;
}

.name {
    font-weight: 500;
    color: #333333;
}

.remarks {
    font-size: 14px;
    color: #5F5F5F;
    margin-block: 4px;
}

.tags {
    font-size: 14px;
    color: #2974E5;
}

.product_sellerPrice {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product_seller {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4px;
}

.profile_img {
    width: 24px;
    height: 24px;
}

.seller {
    font-size: 14px;
    font-weight: 300;
    color: #5F5F5F;
}

.price {
    font-weight: 600;
    color: #1C1C1C;
}

.soldOut {
    color: #999;
}

.bold_txt {
    font-size: 1.75rem;
    font-weight: 700;
    margin-bottom: 24px;
}

.tab_wrapper {
    display: flex;
    gap: 16px;

}

.tab_menu {
    padding: 8px 16px;
    border-radius: 8px;
    background-color: #FFFFFF;
    color: #525252;

}

.tab_menu.active {
    background-color: #000000;
    color: #FFFFFF;
    font-weight: 600;
}


.more {
    display: block;
    margin: 0 auto;
    margin-top: 2rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    background: #fff;
    color: #333;
    padding: 12px 20px;
    font-weight: 500;
    transition: all 0.2s;
}

.more:hover {
    background: #f5f5f5;
}

.noSearch {
    text-align: center;
    color: #9999;
}

@media (max-width:1024px) {

    .advertiseBannerImg {
        border-radius: 16px;
        overflow: hidden;

    }

    .productsWrapper {
        grid-template-columns: repeat(2, 1fr);
        gap: 24px 12px;
    }

    .product {
        min-width: 0;
    }

    .productThumbnail_img {
        width: 100%;
        aspect-ratio: 1 / 1;
        height: auto;
    }
}

/* 모바일 */
@media (max-width:768px) {
    .bannerImg {
        object-fit: contain;
        height: auto;
    }

    .advertiseBannerImg {
        height: auto;
        margin-block: 2.5rem;
    }

    .bold_txt {
        font-size: 1rem;
    }

    .tab_wrapper {
        font-size: 0.875rem;
    }

    .container {
        margin-block: 0;
    }

    .productsWrapper {
        padding-top: 1rem;
    }

    .bookmark {
        top: 8px;
        right: 8px;
    }

    .name,
    .price {
        font-size: 14px;
    }


    .remarks {
        font-size: 12px;
    }
}