.signup_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    min-height: 100vh;
    padding-inline: 40px;
}

.signup_txt {
    font-size: 1.125rem;
    font-weight: 600;
    text-align: center;
}

.signup_subTxt {
    margin-block: 24px 16px;
    font-size: 14px;
    font-weight: 500;
    color: #333333;
    text-align: center;
}

.input_container {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.input_title {
    font-size: 12px;
    color: #333;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
}

.input_title span {
    color: #F66A6A;
    margin-left: 4px;
}

.input_wrapper input {
    border-radius: 8px;
    border: 1px solid #D4D3D3;
    padding: 8px 16px;
    width: 100%;
}

.input_wrapper input:focus {
    outline: none;
}

.input_wrapper input::placeholder {
    font-size: 14px;
    color: #ABABAB;
}

.signup_btn {
    background-color: #2974E5;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    height: 48px;
    width: 100%;
    color: #FFFFFF;
    margin-block: 24px;
}

.error_txt {
    font-size: 12px;
    color: #F66A6A;
    margin-top: 8px;
}

.modal_txt {
    font-size: 1.125rem;
    font-weight: 600;
    margin-bottom: 12px;

}

.btn_goLogin {
    min-width: 120px;
    height: 40px;
    margin-top: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2974E5;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 600;
    min-width: 96px;
    max-width: 120px;
    border-radius: 8px;
}

.modal_img {
    width: 77px;
    height: 48px;
}

.signup_modal :global(.ant-modal-content) {
    width: 480px;
    height: 196px;
}

.btn_goLogin:hover {
    background-color: #2974E5;
    color: #FFFFFF;
}

/* 모바일 */
@media (max-width:768px) {
    .signup_wrapper {
        padding-inline: 20px;
    }
}