.container {
    width: 1280px;
    /* padding: 40px 320px; */
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.title {
    padding-block: 40px;
    font-weight: 700;
    font-size: 20px;

}

.input_wrapper {
    padding-block: 40px;
    border-top: 1px solid#E4E4E4;
    border-bottom: 1px solid#E4E4E4;
    width: 100%;
}

.input_wrapper p {
    margin-bottom: 8px;
    margin-right: 4px;
}

.input_wrapper span {
    color: red;

}

.input_wrapperInput,
.input_wrapperTextarea {
    padding: 12px 16px;
    border-radius: 8px;
    border: 1px solid #D4D3D3;
    width: 100%;
}



.input_wrapperTextarea {
    height: 336px;
}

.pic_wrapper {
    border-bottom: 0;
}

.name_wrapper {
    border-top: 0;
    display: flex;
    gap: 40px;
    padding-top: 0;
}

.name_wrapper>div {
    width: 50%;
}



.pic_wrapper p {
    font-weight: 500;

}

.pic_wrapper input {
    margin-top: 8px;
}

.input_wrapperInput::placeholder,
.input_wrapperTextarea::placeholder {
    color: #ABABAB;
}