/* 폰트 */
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

.detail_wrapper {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

.container {
    padding-block: 40px 24px;
    border-bottom: 1px solid #E4E4E4;
}


.detail_top {
    padding-bottom: 16px;
    border-bottom: 1px solid #E4E4E4;
}

.detail_title {
    font-size: 1.75rem;
    font-weight: 700;
    margin-bottom: 24px;
}

.name_date {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name {
    display: flex;
    gap: 4px;
    align-items: center;
}

.name p {
    font-size: 0.875rem;
    font-weight: 300;
    color: #5F5F5F;
}

.profileImg,
.linkImg,
.locationImg {
    width: 24px;
    height: 24px;
    position: relative;
}

.date {
    font-size: 0.875rem;
    font-weight: 400;
    color: #818181;
}

.detail_center {
    margin-block: 16px 24px;
}

.link_location {
    display: flex;
    justify-content: end;
    gap: 8px;
    margin-bottom: 24px;
    align-items: center;
}

.link_location img {
    cursor: pointer;
}

.txt_wrap {
    margin-block: 24px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.txt_wrap p {
    line-height: 24px;
}

.video_wrap {
    padding: 1.5rem 14.313rem;
    background-color: #F2F2F2;
}

.youtube_wrap {
    display: flex;
    justify-content: center;
}

.detail_bottom {

    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 24px;
}

.detail_bottom>div {
    display: flex;
    flex-direction: column;
    gap: 4px;
    font-size: 14px;
    cursor: pointer;
    align-items: center;
}

.bad_wrapper div {
    color: #5F5F5F;

}

.good_wrapper div {
    color: #F66A6A;
}

.detail_btn_wrapper {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.detail_btn_wrapper>button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 105px;
    height: 40px;
    cursor: pointer;
    justify-content: center;
    border: 1px solid #000;
    border-radius: 8px;
}

.detail_btn_wrapper>div p {
    font-weight: 600;
    font-size: 14px;
}

.fetchBoardImg {
    max-width: 40%;
    width: 100%;
    height: auto;
}

.listImg,
.pencilImg {
    width: 24px;
    height: 24px;
    position: relative;

}


/* 태블릿 */
@media (max-width:1024px) {
    .detail_wrapper {
        padding-inline: 20px;
    }

    .video_wrap {
        padding: 1.5rem 0;
    }

    .youtube_wrap iframe {
        width: 100%;
        object-fit: contain;
        aspect-ratio: 16 / 9;
        height: auto;
    }

    .fetchBoardImg {
        max-width: 60%;
    }
}

/* 모바일 */
@media (max-width:768px) {
    .detail_title {
        font-size: 20px;
    }

    .txt_wrap,
    .detail_btn_wrapper {
        font-size: 14px;
    }

}