.tabBtn_wrapper {
    display: flex;
    justify-content: start;
    gap: 16px;
    margin-bottom: 24px;
}

.tabBtn {
    padding: 8px 16px;
    border-radius: 8px;
    color: #525252;
    font-weight: 500;
}

.active {
    background-color: #000000;
    color: #FFFFFF;
    font-weight: 600;
}