.navigation_wrap {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
}

.navigation_inner {
    max-width: 1280px;
    width: 100%;
    height: 80px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 20px;

}

.menu_wrap {
    display: flex;
    gap: 24px;
    align-items: center;
}

.navigation {
    display: flex;
    gap: 16px;
}

.menu {
    border-bottom: 2px solid transparent;
    padding: 8px;
}

.menu.active {
    border-bottom: 2px solid #000000;
    font-weight: 700;
}

.logoImg {
    width: 56px;
    height: 32px;
    cursor: pointer;
}

.mypage_wrap {
    /* display: flex;
    gap: 4px;
    align-items: center; */
    position: relative;
}

.profileImg {
    width: 32px;
    height: 32px;
    position: relative;
}

.downArrowImg {
    width: 24px;
    height: 24px;
    position: relative;
}

.login_btn {
    width: 93px;
    height: 40px;
    border-radius: 100px;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.login_txt {
    font-size: 14px;
    font-weight: 600;
    color: #fff;
}

.profileClickBefore {
    display: flex;
    gap: 4px;
    align-items: center;
}

/* 프로필 클릭 메뉴 */
.profileClickAfter {

    width: 240px;
    height: 240px;
    background-color: #fff;
    border: 1px solid #E4E4E4;
    border-radius: 8px;

    padding: 20px;
    display: flex;
    flex-direction: column;
    /* gap: 12px; */
    position: absolute;
    top: 0;
    right: 0;
    z-index: 999;
    justify-content: space-between;
}

.clickProfile {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profileImg_wrapper {
    display: flex;
    gap: 4px;
    align-items: center;
}

.pointImg {
    width: 24px;
    height: 24px;
    position: relative;
}

.myPoint {
    font-weight: 500;
}

.myPoint span {
    margin-left: 4px;
}

.chargeImg,
.logoutImg {
    position: relative;
    width: 16px;
    height: 16px;
}

.profileClickFlex {
    display: flex;
    align-items: center;
    gap: 8px;
}

.clickMenuBtn {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.btnCharge,
.btnLogout {
    padding-block: 8px;
}

.clickPoint {
    padding-block: 12px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.chargeModalInner {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
}

.pointModalImg {
    width: 85px;
    height: 56px;
    position: relative;
}

.pointModalTxt {
    font-size: 18px;
    font-weight: 600;
}

.chargeModal :global(.ant-modal-footer) {
    text-align: center;
    margin-top: 24px;
}

/* 태블릿 */
@media (max-width:1024px) {
    .navigation_inner {
        padding-inline: 20px;
    }
}