/* 폰트 */
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}



.container {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 80px;

}

.title {
    padding-block: 40px;
    font-weight: 700;
    font-size: 20px;

}

.input_wrapper {
    padding-block: 40px;
    border-top: 1px solid#E4E4E4;
    border-bottom: 1px solid#E4E4E4;
    width: 100%;
}

.input_wrapper p {
    margin-bottom: 8px;
    margin-right: 4px;
}

.input_wrapper span {
    color: red;

}

.input_wrapperInput {
    padding: 12px 16px;
    border-radius: 8px;
    border: 1px solid #D4D3D3;
    width: 100%;
}




.pic_wrapper {
    border-bottom: 0;
}

.name_wrapper {
    border-top: 0;
    display: flex;
    gap: 40px;
    padding-top: 0;
}

.name_wrapper>div {
    width: 50%;
}



.pic_wrapper p {
    font-weight: 500;

}

.pic_wrapper input {
    margin-top: 8px;
}

/* .input_wrapperInput::placeholder {
    color: #ABABAB;
} */

.address_wrapper {
    display: flex;
    gap: 2.5rem;
}

.address_left {
    width: 31%;
}

.address_right {
    width: calc(100% - 40px - 31%);
    display: flex;
    flex-direction: column;
}

.address_wrapper .sec_input {
    margin-block: 8px;
}

.address_flex {
    display: flex;
    align-items: stretch;
    margin-bottom: 8px;
}

.address_flex input {
    width: 82px;
}

.address_flex button {
    width: 130px;
    border: 1px solid black;
    background-color: white;
    color: black;
    font-weight: 600;
    font-size: 1.125rem;
    border-radius: 8px;
    margin-left: 8px;
    padding: 14px 12px;
    line-height: 1;
}

.lat_wrapper {
    margin-block: 40px 16px;
}

.lat_wrapper input,
.lng_wrapper input {
    background-color: #E4E4E4;
    border: 1px solid #E4E4E4;
}

.lat_wrapper input::placeholder,
.lng_wrapper input::placeholder {
    color: #919191;
}

.address_right p {
    margin-bottom: 16px;
}

.address_location {
    width: 100%;
    border-radius: 8px;
    background-color: #E4E4E4;
    color: #777777;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;

}

.img_wrapper {
    width: 160px;
    height: 160px;
    position: relative;
    border-radius: 8px;
    overflow: hidden;
}

.img_flex {
    display: flex;
    gap: 16px;
}


.btn_wrapper {
    display: flex;
    justify-content: end;
    padding-bottom: 40px;
}

.btn_inner {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.btn_wrapper button {
    border-radius: 8px;
    height: 48px;
    font-size: 1.125rem;
    font-weight: 600;
    /* cursor: pointer; */
}

.cancel {
    width: 64px;
    border: 1px solid black;
    background-color: white;
}

.btn_wrapper button.submitActive {
    width: 95px;
    border: 0;
    background-color: #2974E5;
    color: white;

}

.btn_wrapper button.submitNotActive {
    width: 95px;
    border: 0;
    background-color: #C7C7C7;
    color: #E4E4E4;

}

.errorTxt {
    color: #F66A6A;
    font-weight: 500;
    margin-top: 8px;
}



.closeImg {
    position: absolute;
    top: 0.75rem;
    right: 0.75rem;
    z-index: 1;
    width: 24px;
    height: 24px;
    cursor: pointer;
    opacity: 0;
}

.img_wrapper:hover .closeImg {
    opacity: 1;
    transition: all 0.3s;
}

.content_editor {
    height: 477px;
    display: flex;
    flex-direction: column;
}

.postModal :global(.ant-modal-content) {
    padding: 48px 24px;
}

/* 태블릿 */
@media (max-width:1024px) {
    .container {
        padding-inline: 20px;

    }

    .content_editor {
        height: 400px;
    }

    .address_wrapper {
        flex-direction: column;
    }

    .address_left {
        width: 100%;
    }

    .address_right {
        width: 100%;
        height: 22rem;
    }

    .address_location {

        height: 100%;
    }

    .closeImg {
        opacity: 1;
    }
}

/* 모바일 */
@media (max-width:768px) {

    .container {
        padding-block: 48px 84px;
    }

    .input_wrapper {
        padding-block: 16px;
    }

    .input_wrapper p {
        font-size: 16px;
    }

    .content_editor {
        height: 250px;
    }

    .address_location {
        height: 144px;
        flex: none;
    }

    .address_right {
        height: 100%;
    }

    .img_wrapper {
        aspect-ratio: 1 / 1;
        max-width: 160px;
        height: auto;
        width: 100%;
    }

    .btn_wrapper {
        justify-content: initial;
        padding-bottom: 0;
        position: fixed;
        width: 100%;
        padding-inline: 20px;
        background-color: #FFFFFF;
        bottom: 0;
        left: 0;
        padding-block: 16px;
        border-top: 1px solid #F2F2F2;
    }

    .btn_inner {
        width: 100%;
    }

    .btn_inner button {
        flex: 1;
        height: 40px;
    }

    /* .title {
        display: none;
    } */
}