.mySwiper {
    width: 100%;
    height: 516px;
}

.mySwiper .swiper-slide {
    width: 100%;
    height: 100%;
}


.mySwiper img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-position: center 77%;
}

.slideImg {
    position: relative;
    width: 100%;
    height: 100%;
}

/* 모바일 */

@media(max-width:768px) {
    .mySwiper {
        height: 12.5rem;
        margin-top: 3rem;
    }
}