.title {
    font-size: 1.125rem;
    font-weight: 600;
    margin-bottom: 24px;
}

.input_wrapper input {
    border-radius: 8px;
    border: 1px solid #D4D3D3;
    padding: 12px 16px;
    width: 100%;
}

.input_txt {
    font-weight: 500;
    color: #333333;
    margin-right: 4px;
    margin-bottom: 8px;
}

.input_txt span {
    color: #F66A6A;
}

.input_wrapper:first-of-type {
    margin-bottom: 16px;
}

.btn_wrapper {
    display: flex;
    justify-content: end;
}

.edit_btn {
    margin-top: 24px;
    border-radius: 8px;
    background-color: #C7C7C7;
    color: #E4E4E4;
    font-size: 1.125rem;
    font-weight: 600;
    padding: 12px 16px;

}

.errorTxt {
    color: #F66A6A;
    font-weight: 500;
    margin-top: 8px;
}

.activeBtn {
    background-color: #2974E5;
    color: #FFFFFF;
}

/* 모바일 */
@media (max-width:768px) {
    .edit_btn {
        padding: 8px 12px;

    }


}