@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
    --background: #ffffff;
    --foreground: #171717;
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

html {
    color-scheme: light;
}

body {
    font-family: var(--font-pretendard);
}

a {
    text-align: none;
    color: black;
}

li {
    list-style: none;
}



img {
    width: 100%;
    height: auto;
}

input:read-only {
    background-color: #f0f0f0;
    color: #888;
    cursor: not-allowed;
}

input,
textarea,
select {
    font-size: 16px;
}


@media (max-width: 768px) {
    main {
        padding-bottom: 40px;
    }

    html {
        font-size: 14px;
    }
}