@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Pretendard-Regular';
    src: url(./fonts/Pretendard-Regular.woff2) format('woff2');
}

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
    /* overflow-y: scroll; */
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Pretendard-Regular';
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
}



a {
    text-align: none;
    color: black;
}

li {
    list-style: none;
}



img {
    width: 100%;
    height: auto;
}

/* swiper */
/* .swiper-pagination-bullet {
    background: #FFFFFFCC !important;

 
}

.swiper-pagination-bullet-active {
    background: #fff !important;

} */

/* .swiper-slide>div {
    position: relative;
    width: 100%;
    height: 100%;
} */


@media (max-width: 768px) {
    main {
        padding-bottom: 40px;
    }

    html {
        font-size: 14px;
    }
}