/* 폰트 */
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}



.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 80px;
}

.title {
    padding-block: 2.5rem;
    font-weight: 700;
    font-size: 1.25rem;

}

.input_wrapper {
    padding-block: 2.5rem;
    border-top: 1px solid#E4E4E4;
    border-bottom: 1px solid#E4E4E4;
    width: 100%;
}

.input_wrapper p {
    margin-bottom: 8px;
    margin-right: 4px;
}

.input_wrapper span {
    color: red;

}

.input_wrapperInput,
.input_wrapperTextarea {
    padding: 12px 16px;
    border-radius: 8px;
    border: 1px solid #D4D3D3;
    width: 100%;
}



.input_wrapperTextarea {
    height: 336px;
}

.pic_wrapper {
    border-bottom: 0;
}

.name_wrapper {
    border-top: 0;
    display: flex;
    gap: 2.5rem;
    padding-top: 0;
}

.name_wrapper>div {
    width: 50%;
}



.pic_wrapper p {
    font-weight: 500;

}

.pic_wrapper input {
    margin-top: 8px;
}

.input_wrapperInput::placeholder,
.input_wrapperTextarea::placeholder {
    color: #ABABAB;
}

.address_wrapper .sec_input {
    margin-block: 8px;
}

.address_flex {
    display: flex;

}

.address_flex input {
    width: 82px;
}

.address_flex button {
    width: 130px;
    border: 1px solid black;
    background-color: white;
    color: black;
    font-weight: 600;
    font-size: 1.125rem;
    border-radius: 8px;
    margin-left: 8px;
}



.img_wrapper {
    display: flex;
    gap: 16px;
}

.btn_wrapper {
    display: flex;
    justify-content: end;

    padding-bottom: 2.5rem;
}

.btn_inner {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.btn_wrapper button {
    border-radius: 8px;
    height: 48px;
    font-size: 1.125rem;
    font-weight: 600;
    cursor: pointer;
}

.cancel {
    width: 64px;
    border: 1px solid black;
    background-color: white;
}

.btn_wrapper button.submitActive {
    width: 95px;
    border: 0;
    background-color: #2974E5;
    color: white;

}

.btn_wrapper button.submitNotActive {
    width: 95px;
    border: 0;
    background-color: #C7C7C7;
    color: #E4E4E4;

}

.errorTxt {
    color: #F66A6A;
    font-weight: 500;
    margin-top: 8px;
}

.imgBox {
    width: 160px;
    height: 160px;
    border-radius: 8px;
    overflow: hidden;
    position: relative;

}

.closeImg {
    position: absolute;
    top: 0.75rem;
    right: 0.75rem;
    z-index: 1;
    width: 24px;
    height: 24px;
    cursor: pointer;
    opacity: 0;
}

.imgBox:hover .closeImg {
    opacity: 1;
    transition: all 0.3s;

}

.modal :global(.ant-space) {
    display: block;
    margin-top: 8px;
}

.modal :global(.ant-modal-footer) {
    margin-top: 1.5rem;
}

.postModal :global(.ant-modal-content) {
    padding: 48px 24px;
}

/* 태블릿 */
@media (max-width:1024px) {
    .container {
        padding-inline: 20px;
    }

    .closeImg {
        opacity: 1;
    }
}

/* 모바일 */
@media (max-width:768px) {
    .container {
        padding-block: 48px 84px;
    }

    .name_wrapper {
        gap: 1rem;
        flex-direction: column;
        padding-block: 1rem;
    }

    .name_wrapper>div {
        width: 100%;
    }

    .input_wrapper {
        padding-block: 1rem;
    }


    .input_wrapperTextarea {
        height: 120px;
    }

    .img_wrapper {
        gap: 10px;
    }

    .img_wrapper>div {
        flex: 1;
    }

    .imgBox {
        width: initial;
        height: initial;
    }



    .btn_wrapper {
        justify-content: initial;
        padding-bottom: 0;
        position: fixed;
        width: 100%;
        padding-inline: 20px;
        background-color: #FFFFFF;
        bottom: 0;
        left: 0;
        padding-block: 16px;
        border-top: 1px solid #F2F2F2;
    }

    .btn_inner {
        width: 100%;
    }

    .btn_inner button {
        flex: 1;
        height: 40px;
    }

    .title {
        display: none;
    }
}