.search_container {
    display: flex;
    justify-content: end;
    margin-bottom: 24px;
}

.search_wrapper {
    display: flex;
    gap: 16px;
}

.input_wrapper {
    background-color: #F2F2F2;
    width: 356px;
    border-radius: 8px;
    padding: 12px;
    display: flex;
    gap: 8px;
}

.input_wrapper img {
    width: 24px;
    height: 24px;
}

.input_search {
    width: 100%;
    background-color: transparent;
}

.input_search::placeholder {
    color: #919191;
}

.btn_search {
    background-color: black;
    width: 64px;
    border-radius: 8px;
    padding: 12px 16px;
    color: white;
    font-weight: 600;
    font-size: 18px;
}

/* 인풋 클릭 시 테두리 없애기 */
.input_search:focus {
    outline: none;
}