.mySwiper {
    width: 100%;
    height: 516px;
}

.image_container {
    position: relative;
    width: 100%;
    height: 516px;
}

.mySwiper img {
    object-fit: cover;
    width: 100%;
    object-position: 0 77%;
}