.bold_txt {
    font-size: 1.75rem;
    font-weight: 700;
    margin-bottom: 24px;
}

.leftBtn,
.rightBtn {
    width: 40px;
    height: 40px;
    z-index: 2;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 25px #00000040;
    border-radius: 50%;
}

.leftBtn::before,
.rightBtn::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 24px;
    aspect-ratio: 10 / 20;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.leftBtn::before {
    background-image: url("/images/left_arrow.png");
}

.rightBtn::before {
    background-image: url("/images/right_arrow.png");
}

.leftBtn {
    position: absolute;
    top: 50%;
    left: -20px;
    transform: translateY(-50%);
}

.rightBtn {
    position: absolute;
    top: 50%;
    right: -20px;
    transform: translateY(-50%);
}

/* 왼쪽 버튼이 '맨 처음', 오른쪽 버튼이 '맨 마지막'일때 버튼 비활성화 */
.leftBtn:global(.swiper-button-disabled),
.rightBtn:global(.swiper-button-disabled) {
    display: none;

}


.swiper_wrapper {
    position: relative;
}

.swiper_wrapper :global(.swiper) {
    width: 100%;
    height: auto;
}

.swiper_wrapper :global(.swiper-slide) {
    height: auto;
    flex-shrink: 0;
}

.swiper_slide {
    border-radius: 8px;
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;
    position: relative;
}

.swiper_slide::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(to top,
            rgba(0, 0, 0, 0.6),
            rgba(0, 0, 0, 0));
}



.bookmark {
    width: 24px;
    height: 24px;
    position: relative;
}

.pickedCount {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    padding: 4px 8px;
    max-width: 53px;
    max-height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    background-color: #00000066;
    border-radius: 8px;
    font-size: 0.875rem;
}

.txt_wrapper {
    position: absolute;
    bottom: 24px;
    left: 24px;
    color: #FFFFFF;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: calc(100% - 48px);
}

.best_title {
    font-size: 1.25rem;
    font-weight: 700;
}

.best_contents {
    font-weight: 500;
}

.best_title,
.best_contents {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.best_price {
    font-size: 1.25rem;
    font-weight: 700;
    align-self: flex-end;
}

/* 태블릿 */
@media (max-width:1024px) {
    .swiper_slide {
        border-radius: 16px;
    }
}

/* 모바일 */
@media (max-width:768px) {

    .bold_txt,
    .best_title,
    .best_price {
        font-size: 16px;
    }

    .txt_wrapper {
        bottom: 8px;
        left: 8px;
        width: calc(100% - 16px);
    }

    .pickedCount {
        top: 8px;
        right: 8px;
    }

    .swiper_wrapper {
        margin-right: -20px;
    }

    .leftBtn,
    .rightBtn {
        display: none;

    }
}