.myPage_wrapper {

    max-width: 1280px;
    margin: 0 auto;
    margin-block: 120px 40px;
    /* pc네비 높이 80px + 네비 사이 간격 40px = 120px */
}

.title {
    font-size: 28px;
    font-weight: 700;
    line-height: 36px;
}

.myPage_top {
    border: 1px solid#E4E4E4;
    border-radius: 8px;
    padding: 24px;
    margin-block: 40px;
}

.top_title {
    font-size: 1.125rem;
    font-weight: 600;
    margin-bottom: 12px;
}

.profile_wrapper {
    display: flex;
    gap: 4px;
    align-items: center;
}

.profile_img {
    width: 32px;
    height: 32px;
    position: relative;
}

.profile_name {
    font-weight: 500;
}

.point_wrapper {
    margin-block: 12px;
    border-top: 1px solid #E4E4E4;
    border-bottom: 1px solid #E4E4E4;
    padding-block: 12px;
    display: flex;
    gap: 8px;
    align-items: center;
}

.point_img {
    width: 24px;
    height: 24px;
    position: relative;
}

.point_txt {
    font-size: 1.25rem;
    font-weight: 500;
}

/* 태블릿 */
@media (max-width:1024px) {
    .myPage_wrapper {

        padding-inline: 20px;

    }
}

/* 모바일 */
@media (max-width:768px) {
    .point_txt {
        font-weight: 500;
    }

    .myPage_top {
        padding: 12px 16px;
    }

    .title {
        display: none;
    }

    .myPage_wrapper {
        margin-block: calc(3rem + 24px) 40px;
        /* 모바일 네비 3rem + 네비 사이 간격 24px */
    }
}