.list_wrapper {
    padding: 24px 48px;
    min-width: 680px;
    border-radius: 16px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.flex_wrap {
    display: flex;
    gap: 8px;
    text-align: center;
}

.list_title {
    padding: 16px 24px;
    font-weight: 500;
    color: #1C1C1C;
}

.board_list {
    border: 1px solid #F2F2F2;
    border-radius: 8px;
    padding: 12px 24px;
    font-size: 0.875rem;
    margin-bottom: 12px;
    position: relative;
}

.list_date,
.list_history,
.list_balance,
.list_seller {
    max-width: 100px;
    width: 100%;
}

.list_product {
    flex: 1;
    text-align: left;
}

/* 모바일 */
@media (max-width:768px) {
    .list_wrapper {
        min-width: auto;
        padding: 16px;
    }

    .list_date {
        width: 20%;
    }

    .list_description {
        width: 10%;
    }

    .list_history {
        width: 25%;
    }

    .list_balance {
        width: 25%;
    }

    .list_title {
        padding: 4px 8px;
        margin-bottom: 8px;
        word-break: keep-all;
    }
}