.comment_list {

    margin-bottom: 2.5rem;
    padding-bottom: 2.5rem;
    border-bottom: 1px solid #E4E4E4;

}

.list_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top_left {
    display: flex;
    align-items: center;
}

.profileImg {
    width: 24px;
    height: 24px;
    position: relative;
}

.comment_writer {
    margin-inline: 4px 8px;
    color: #5F5F5F;
    font-weight: 300;
    font-size: 0.875rem;
    flex-shrink: 0;
}

.top_right {
    display: flex;
    gap: 8px;
    flex-shrink: 0;
}

.list_content {
    margin-block: 8px;
    color: #333333;
    font-weight: 400;
}

.list_date {
    color: #818181;
    font-weight: 400;
    font-size: 0.875rem;
}

/* isCommentEdit === true */
.star_Img {
    margin-block: 1.5rem;
}

.comment_form {
    margin-bottom: 16px;
}

.comment_form input,
.comment_form textarea {
    padding: 12px 16px;
    border-radius: 8px;
    border: 1px solid #d4d3d3;
}

.form_top {
    margin-bottom: 16px;
    display: flex;
    gap: 16px;
}

.txt_wrap {
    display: flex;
    align-items: center;
}

.form_txt {
    color: #333333;
    font-weight: 500;
    margin-right: 4px;
}

.form_top span {
    color: #F66A6A;
    font-weight: 500;
}

.form_top input {
    margin-top: 8px;
    width: 312px;
    height: 48px;
}

.form_top input::placeholder {
    color: #ABABAB;
    font-weight: 400;

}

.form_bot {
    position: relative;
}

.form_bot textarea {
    width: 100%;
    height: 144px;
}

.btn_wrap {
    display: flex;
    justify-content: end;
}

.comment_submit {
    width: 99px;
    height: 48px;
    border-radius: 8px;
    text-align: center;
    font-weight: 600;
    font-size: 1.125rem;
    background-color: #C7C7C7;
    color: #E4E4E4;
}

.comment_submit.active {
    background-color: #2974E5;
    color: #FFFFFF;
}


.input_wrapper {
    width: 100%;
    margin-top: 8px;
}

.modal :global(.ant-space) {
    display: block;
}

.input_pw {
    border-color: #d9d9d9;
}

.modal :global(.ant-input-outlined):hover,
.modal :global(.ant-input-outlined):focus-within {
    border-color: #d9d9d9;
    box-shadow: none;
}

.ant-btn-default:hover,
.ant-btn-default:focus {
    color: rgba(0, 0, 0, 0.88);
    border-color: #d9d9d9;
    background-color: #fff;
}

.modal :global(.ant-btn-variant-outlined:not(.ant-btn-dangerous):not(:disabled):hover) {
    border-color: #d9d9d9;
    color: rgb(0 0 0 / 75%);
    background: rgba(0, 0, 0, 0.02);
}

.modal :global(.ant-modal-footer) {
    margin-top: 1.5rem;
}